#requerement
# python version=>3.10 
#install the following libraries:
pip install openpyxl
pip instalrips
pip install numpy
pip install time
#open RESInsinght (tested in version 03/2023).
#import the reservoir simulation case (both summary file and EGRID file) you would like to export the data from in RESInsinght.  
